:root {
  --table-text: #002a54;
  --placeholder-text: #c7c7c7;
  --color-arrow: #979797;
  --bg-panel-with-detail-info: #e8e8e8;
  --warm-grey: #707070;
  --white: #fff;
  --black: #000;
  --bg-light-blue: #f1faff;
}